{
  "env": {
    "amd": true,
    "browser": true,
    "jquery": true,
    "mocha": true,
    "node": true
  },
  "globals": {
    "before": true
  },
  "rules": {
    "strict": 2,
    "no-comma-dangle": 0,
    "no-use-before-define": [2, "nofunc"],
    "no-undef": 2,
    "no-undef-init": 2,
    "no-undefined": 0,
    "no-unused-vars": 2,
    "no-cond-assign": 2,
    "no-trailing-spaces": 2,
    "no-debugger": 2,
    "no-eq-null": 1,
    "no-eval": 2,
    "no-new-func": 2,
    "no-unused-expressions": 2,
    "no-iterator": 2,
    "no-unreachable": 2,
    "no-multi-str": 2,
    "no-loop-func": 1,
    "no-proto": 2,
    "no-script-url": 2,
    "no-shadow": 0,
    "no-sparse-arrays": 2,
    "no-underscore-dangle": 0,
    "no-new-func": 2,
    "consistent-return": 0,
    "curly": 1,
    "eqeqeq": 1,
    "guard-for-in": 1,
    "wrap-iife": [2, "any"],
    "no-caller": 2,
    "camelcase": 0,
    "indent": [2, 2],
    "new-cap": 1,
    "space-infix-ops": 0,
    "key-spacing": 0,
    "eol-last": 2,
    "quotes": [2, "single", "avoid-escape"],
    "semi": [2, "always"],
    "max-len": [1, 120, 4],
    "vars-on-top": true,
    "dot-notation": [2, {"allowPattern": "^[a-z0-9]+(_[a-z0-9]+)+$"}],
  }
}
